
# Django stuff:
*.log
local_settings.py
/home/insta/Projects/ecommerce-2-api/src/ecommerce2/settings/braintree.py
/home/insta/Projects/ecommerce-2-api/src/ecommerce2/settings/local.py
/home/insta/Projects/ecommerce-2-api/src/ecommerce2/settings/production.py
braintree.py
local.py
production.py
db.sqlite3
/home/insta/Projects/ecommerce-2-api/src/db.sqlite3

*.pyc
